<div>
  <form name="addWord" method="post">
    <div>
      <label>중국어</label>
      <input type="text" name="chinese" />
    </div>
    <div>
      <label>병음</label>
      <input
        type="text"
        name="pinyin"
        placeholder="쉼표로 글자를 구분해주세요"
      />
    </div>
    <div>
      <label>성조</label>
      <input
        type="text"
        name="tones"
        placeholder="쉼표로 글자를 구분해주세요"
      />
    </div>
    <div>
      <label>한국어 뜻</label>
      <input type="text" name="korean" />
    </div>
    <br />
    <div>
      <button type="submit">저장</button>
      <button type="button" onclick="location.href='/'">취소</button>
      <button type="button" onclick="location.href='/learn'">오늘의 학습</button>
    </div>
  </form>
</div>