{% extends "base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'words/css/quiz.css' %}">
{% endblock head %}
{% block content %}
  <h1>오늘의 퀴즈</h1>
  <form action="{% url "words:grade" %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <ul style="list-style:none; padding:0;">
      {% for word in words %}
        <li class="quiz-item">
          <input type="hidden"
                 name="quizno_{{ word.pk }}"
                 value="{{ forloop.counter }}">
          <input type="text"
                 name="tone_{{ word.pk }}"
                 id="tone_{{ word.pk }}"
                 class="tone-input"
                 placeholder="성조">
          <input type="text"
                 name="pinyin_{{ word.pk }}"
                 id="pinyin_{{ word.pk }}"
                 class="pinyin-input"
                 placeholder="병음">
          <span class="word-text">{{ word.word }}</span>
          <div style="margin-top:5px;">
            <label for="meaning_{{ word.pk }}">뜻:</label>
            <input type="text" name="meaning_{{ word.pk }}" id="meaning_{{ word.pk }}">
            <span>{{ word.suffix }}</span>
          </div>
        </li>
        <hr>
      {% endfor %}
    </ul>
    <button type="submit">제출</button>
  </form>
{% endblock content %}
